/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
@font-face {
  font-family: 'Ellograph CF Extra';
  src: url("../fonts/EllographCF-ExtraLight.eot");
  src: url("../fonts/EllographCF-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/EllographCF-ExtraLight.woff2") format("woff2"), url("../fonts/EllographCF-ExtraLight.woff") format("woff"), url("../fonts/EllographCF-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg';
  src: url("../fonts/Ogg-Italic.eot");
  src: url("../fonts/Ogg-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ogg-Italic.woff2") format("woff2"), url("../fonts/Ogg-Italic.woff") format("woff"), url("../fonts/Ogg-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Trial Exp Md';
  src: url("../fonts/GTAmericaTrial-ExpMd.eot");
  src: url("../fonts/GTAmericaTrial-ExpMd.eot?#iefix") format("embedded-opentype"), url("../fonts/GTAmericaTrial-ExpMd.woff2") format("woff2"), url("../fonts/GTAmericaTrial-ExpMd.woff") format("woff"), url("../fonts/GTAmericaTrial-ExpMd.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messapia';
  src: url("../fonts/Messapia-Regular.eot");
  src: url("../fonts/Messapia-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Messapia-Regular.woff2") format("woff2"), url("../fonts/Messapia-Regular.woff") format("woff"), url("../fonts/Messapia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url("../fonts/RobotoMono-Light.eot");
  src: url("../fonts/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Light.woff2") format("woff2"), url("../fonts/RobotoMono-Light.woff") format("woff"), url("../fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url("../fonts/GTAmerica-Regular.eot");
  src: url("../fonts/GTAmerica-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTAmerica-Regular.woff2") format("woff2"), url("../fonts/GTAmerica-Regular.woff") format("woff"), url("../fonts/GTAmerica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url("../fonts/GTAmerica-Regular_1.eot");
  src: url("../fonts/GTAmerica-Regular_1.eot?#iefix") format("embedded-opentype"), url("../fonts/GTAmerica-Regular_1.woff2") format("woff2"), url("../fonts/GTAmerica-Regular_1.woff") format("woff"), url("../fonts/GTAmerica-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 1. Theme default css */
body {
  font-family: "Ellograph CF Extra";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  transition: all 0.3s ease 0s;
}

a {
  text-decoration: none;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: blue;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT America Trial Exp Md";
  color: #333333;
  line-height: 1.1;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 22px;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

.list-style-none {
  margin: 0px;
  padding: 0px;
}

.list-style-none li {
  list-style-type: none;
}

.list-style-none li a {
  list-style-type: none;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Ellograph CF Extra";
  color: #333333;
  margin-bottom: 0;
}

hr {
  border-bottom: 1px solid #D9E3E5;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

::selection {
  background: #000;
  color: #ffffff;
  text-shadow: none;
}

.before-none::before {
  display: none;
}

.after-none::after {
  display: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/

*::placeholder {
  color: #000;
  font-size: 14px;
  opacity: 1;
}

/*--
    - position Classes
-----------------------------------------*/
.pos-rel {
  position: relative;
}

.pos-abl {
  position: absolute;
}

/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: #ADADAD;
}

.white-bg {
  background: #ffffff;
}

.black-bg {
  background: #000;
}

.heding-bg {
  background: #333333;
}

.theme-bg {
  background: #FF3E41;
}

.primary-bg {
  background: #222;
}

/*--
    - color
-----------------------------------------*/
.white-color {
  color: #ffffff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #FF3E41;
}

.primary-color {
  color: #222;
}

.popup-video {
  color: #ffffff;
  background: #FF3E41;
  border-radius: 50%;
  line-height: 65px;
  display: inline-block;
  width: 65px;
  height: 65px;
  text-align: center;
  transition: all 0.4s ease-out 0s;
  position: relative;
  z-index: 1;
  animation: pulseBig infinite 5s linear;
}

.popup-video:hover {
  color: #ffffff;
  background: #FF3E41;
}

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mt-230 {
  margin-top: 230px;
}

.mt-235 {
  margin-top: 235px;
}

.mt-240 {
  margin-top: 240px;
}

.mt-245 {
  margin-top: 245px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-255 {
  margin-top: 255px;
}

.mt-260 {
  margin-top: 260px;
}

.mt-265 {
  margin-top: 265px;
}

.mt-270 {
  margin-top: 270px;
}

.mt-275 {
  margin-top: 275px;
}

.mt-280 {
  margin-top: 280px;
}

.mt-285 {
  margin-top: 285px;
}

.mt-290 {
  margin-top: 290px;
}

.mt-295 {
  margin-top: 295px;
}

.mt-300 {
  margin-top: 300px;
}

.mt-305 {
  margin-top: 305px;
}

.mt-310 {
  margin-top: 310px;
}

.mt-315 {
  margin-top: 315px;
}

.mt-320 {
  margin-top: 320px;
}

.mt-325 {
  margin-top: 325px;
}

.mt-330 {
  margin-top: 330px;
}

.mt-335 {
  margin-top: 335px;
}

.mt-340 {
  margin-top: 340px;
}

.mt-345 {
  margin-top: 345px;
}

.mt-350 {
  margin-top: 350px;
}

.mt-355 {
  margin-top: 355px;
}

.mt-360 {
  margin-top: 360px;
}

.mt-365 {
  margin-top: 365px;
}

.mt-370 {
  margin-top: 370px;
}

.mt-375 {
  margin-top: 375px;
}

.mt-380 {
  margin-top: 380px;
}

.mt-385 {
  margin-top: 385px;
}

.mt-390 {
  margin-top: 390px;
}

.mt-395 {
  margin-top: 395px;
}

.mt-400 {
  margin-top: 400px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.mb-230 {
  margin-bottom: 230px;
}

.mb-235 {
  margin-bottom: 235px;
}

.mb-240 {
  margin-bottom: 240px;
}

.mb-245 {
  margin-bottom: 245px;
}

.mb-250 {
  margin-bottom: 250px;
}

.mb-255 {
  margin-bottom: 255px;
}

.mb-260 {
  margin-bottom: 260px;
}

.mb-265 {
  margin-bottom: 265px;
}

.mb-270 {
  margin-bottom: 270px;
}

.mb-275 {
  margin-bottom: 275px;
}

.mb-280 {
  margin-bottom: 280px;
}

.mb-285 {
  margin-bottom: 285px;
}

.mb-290 {
  margin-bottom: 290px;
}

.mb-295 {
  margin-bottom: 295px;
}

.mb-300 {
  margin-bottom: 300px;
}

.mb-305 {
  margin-bottom: 305px;
}

.mb-310 {
  margin-bottom: 310px;
}

.mb-315 {
  margin-bottom: 315px;
}

.mb-320 {
  margin-bottom: 320px;
}

.mb-325 {
  margin-bottom: 325px;
}

.mb-330 {
  margin-bottom: 330px;
}

.mb-335 {
  margin-bottom: 335px;
}

.mb-340 {
  margin-bottom: 340px;
}

.mb-345 {
  margin-bottom: 345px;
}

.mb-350 {
  margin-bottom: 350px;
}

.mb-355 {
  margin-bottom: 355px;
}

.mb-360 {
  margin-bottom: 360px;
}

.mb-365 {
  margin-bottom: 365px;
}

.mb-370 {
  margin-bottom: 370px;
}

.mb-375 {
  margin-bottom: 375px;
}

.mb-380 {
  margin-bottom: 380px;
}

.mb-385 {
  margin-bottom: 385px;
}

.mb-390 {
  margin-bottom: 390px;
}

.mb-395 {
  margin-bottom: 395px;
}

.mb-400 {
  margin-bottom: 400px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-105 {
  margin-left: 105px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-135 {
  margin-left: 135px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-155 {
  margin-left: 155px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-165 {
  margin-left: 165px;
}

.ml-170 {
  margin-left: 170px;
}

.ml-175 {
  margin-left: 175px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-185 {
  margin-left: 185px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-195 {
  margin-left: 195px;
}

.ml-200 {
  margin-left: 200px;
}

.ml-205 {
  margin-left: 205px;
}

.ml-210 {
  margin-left: 210px;
}

.ml-215 {
  margin-left: 215px;
}

.ml-220 {
  margin-left: 220px;
}

.ml-225 {
  margin-left: 225px;
}

.ml-230 {
  margin-left: 230px;
}

.ml-235 {
  margin-left: 235px;
}

.ml-240 {
  margin-left: 240px;
}

.ml-245 {
  margin-left: 245px;
}

.ml-250 {
  margin-left: 250px;
}

.ml-255 {
  margin-left: 255px;
}

.ml-260 {
  margin-left: 260px;
}

.ml-265 {
  margin-left: 265px;
}

.ml-270 {
  margin-left: 270px;
}

.ml-275 {
  margin-left: 275px;
}

.ml-280 {
  margin-left: 280px;
}

.ml-285 {
  margin-left: 285px;
}

.ml-290 {
  margin-left: 290px;
}

.ml-295 {
  margin-left: 295px;
}

.ml-300 {
  margin-left: 300px;
}

.ml-305 {
  margin-left: 305px;
}

.ml-310 {
  margin-left: 310px;
}

.ml-315 {
  margin-left: 315px;
}

.ml-320 {
  margin-left: 320px;
}

.ml-325 {
  margin-left: 325px;
}

.ml-330 {
  margin-left: 330px;
}

.ml-335 {
  margin-left: 335px;
}

.ml-340 {
  margin-left: 340px;
}

.ml-345 {
  margin-left: 345px;
}

.ml-350 {
  margin-left: 350px;
}

.ml-355 {
  margin-left: 355px;
}

.ml-360 {
  margin-left: 360px;
}

.ml-365 {
  margin-left: 365px;
}

.ml-370 {
  margin-left: 370px;
}

.ml-375 {
  margin-left: 375px;
}

.ml-380 {
  margin-left: 380px;
}

.ml-385 {
  margin-left: 385px;
}

.ml-390 {
  margin-left: 390px;
}

.ml-395 {
  margin-left: 395px;
}

.ml-400 {
  margin-left: 400px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-105 {
  margin-right: 105px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-115 {
  margin-right: 115px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-125 {
  margin-right: 125px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-135 {
  margin-right: 135px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-145 {
  margin-right: 145px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-155 {
  margin-right: 155px;
}

.mr-160 {
  margin-right: 160px;
}

.mr-165 {
  margin-right: 165px;
}

.mr-170 {
  margin-right: 170px;
}

.mr-175 {
  margin-right: 175px;
}

.mr-180 {
  margin-right: 180px;
}

.mr-185 {
  margin-right: 185px;
}

.mr-190 {
  margin-right: 190px;
}

.mr-195 {
  margin-right: 195px;
}

.mr-200 {
  margin-right: 200px;
}

.mr-205 {
  margin-right: 205px;
}

.mr-210 {
  margin-right: 210px;
}

.mr-215 {
  margin-right: 215px;
}

.mr-220 {
  margin-right: 220px;
}

.mr-225 {
  margin-right: 225px;
}

.mr-230 {
  margin-right: 230px;
}

.mr-235 {
  margin-right: 235px;
}

.mr-240 {
  margin-right: 240px;
}

.mr-245 {
  margin-right: 245px;
}

.mr-250 {
  margin-right: 250px;
}

.mr-255 {
  margin-right: 255px;
}

.mr-260 {
  margin-right: 260px;
}

.mr-265 {
  margin-right: 265px;
}

.mr-270 {
  margin-right: 270px;
}

.mr-275 {
  margin-right: 275px;
}

.mr-280 {
  margin-right: 280px;
}

.mr-285 {
  margin-right: 285px;
}

.mr-290 {
  margin-right: 290px;
}

.mr-295 {
  margin-right: 295px;
}

.mr-300 {
  margin-right: 300px;
}

.mr-305 {
  margin-right: 305px;
}

.mr-310 {
  margin-right: 310px;
}

.mr-315 {
  margin-right: 315px;
}

.mr-320 {
  margin-right: 320px;
}

.mr-325 {
  margin-right: 325px;
}

.mr-330 {
  margin-right: 330px;
}

.mr-335 {
  margin-right: 335px;
}

.mr-340 {
  margin-right: 340px;
}

.mr-345 {
  margin-right: 345px;
}

.mr-350 {
  margin-right: 350px;
}

.mr-355 {
  margin-right: 355px;
}

.mr-360 {
  margin-right: 360px;
}

.mr-365 {
  margin-right: 365px;
}

.mr-370 {
  margin-right: 370px;
}

.mr-375 {
  margin-right: 375px;
}

.mr-380 {
  margin-right: 380px;
}

.mr-385 {
  margin-right: 385px;
}

.mr-390 {
  margin-right: 390px;
}

.mr-395 {
  margin-right: 395px;
}

.mr-400 {
  margin-right: 400px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pt-230 {
  padding-top: 230px;
}

.pt-235 {
  padding-top: 235px;
}

.pt-240 {
  padding-top: 240px;
}

.pt-245 {
  padding-top: 245px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-255 {
  padding-top: 255px;
}

.pt-260 {
  padding-top: 260px;
}

.pt-265 {
  padding-top: 265px;
}

.pt-270 {
  padding-top: 270px;
}

.pt-275 {
  padding-top: 275px;
}

.pt-280 {
  padding-top: 280px;
}

.pt-285 {
  padding-top: 285px;
}

.pt-290 {
  padding-top: 290px;
}

.pt-295 {
  padding-top: 295px;
}

.pt-300 {
  padding-top: 300px;
}

.pt-305 {
  padding-top: 305px;
}

.pt-310 {
  padding-top: 310px;
}

.pt-315 {
  padding-top: 315px;
}

.pt-320 {
  padding-top: 320px;
}

.pt-325 {
  padding-top: 325px;
}

.pt-330 {
  padding-top: 330px;
}

.pt-335 {
  padding-top: 335px;
}

.pt-340 {
  padding-top: 340px;
}

.pt-345 {
  padding-top: 345px;
}

.pt-350 {
  padding-top: 350px;
}

.pt-355 {
  padding-top: 355px;
}

.pt-360 {
  padding-top: 360px;
}

.pt-365 {
  padding-top: 365px;
}

.pt-370 {
  padding-top: 370px;
}

.pt-375 {
  padding-top: 375px;
}

.pt-380 {
  padding-top: 380px;
}

.pt-385 {
  padding-top: 385px;
}

.pt-390 {
  padding-top: 390px;
}

.pt-395 {
  padding-top: 395px;
}

.pt-400 {
  padding-top: 400px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.pb-230 {
  padding-bottom: 230px;
}

.pb-235 {
  padding-bottom: 235px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pb-245 {
  padding-bottom: 245px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pb-255 {
  padding-bottom: 255px;
}

.pb-260 {
  padding-bottom: 260px;
}

.pb-265 {
  padding-bottom: 265px;
}

.pb-270 {
  padding-bottom: 270px;
}

.pb-275 {
  padding-bottom: 275px;
}

.pb-280 {
  padding-bottom: 280px;
}

.pb-285 {
  padding-bottom: 285px;
}

.pb-290 {
  padding-bottom: 290px;
}

.pb-295 {
  padding-bottom: 295px;
}

.pb-300 {
  padding-bottom: 300px;
}

.pb-305 {
  padding-bottom: 305px;
}

.pb-310 {
  padding-bottom: 310px;
}

.pb-315 {
  padding-bottom: 315px;
}

.pb-320 {
  padding-bottom: 320px;
}

.pb-325 {
  padding-bottom: 325px;
}

.pb-330 {
  padding-bottom: 330px;
}

.pb-335 {
  padding-bottom: 335px;
}

.pb-340 {
  padding-bottom: 340px;
}

.pb-345 {
  padding-bottom: 345px;
}

.pb-350 {
  padding-bottom: 350px;
}

.pb-355 {
  padding-bottom: 355px;
}

.pb-360 {
  padding-bottom: 360px;
}

.pb-365 {
  padding-bottom: 365px;
}

.pb-370 {
  padding-bottom: 370px;
}

.pb-375 {
  padding-bottom: 375px;
}

.pb-380 {
  padding-bottom: 380px;
}

.pb-385 {
  padding-bottom: 385px;
}

.pb-390 {
  padding-bottom: 390px;
}

.pb-395 {
  padding-bottom: 395px;
}

.pb-400 {
  padding-bottom: 400px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-105 {
  padding-left: 105px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-115 {
  padding-left: 115px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-135 {
  padding-left: 135px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-145 {
  padding-left: 145px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-165 {
  padding-left: 165px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-185 {
  padding-left: 185px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-195 {
  padding-left: 195px;
}

.pl-200 {
  padding-left: 200px;
}

.pl-205 {
  padding-left: 205px;
}

.pl-210 {
  padding-left: 210px;
}

.pl-215 {
  padding-left: 215px;
}

.pl-220 {
  padding-left: 220px;
}

.pl-225 {
  padding-left: 225px;
}

.pl-230 {
  padding-left: 230px;
}

.pl-235 {
  padding-left: 235px;
}

.pl-240 {
  padding-left: 240px;
}

.pl-245 {
  padding-left: 245px;
}

.pl-250 {
  padding-left: 250px;
}

.pl-255 {
  padding-left: 255px;
}

.pl-260 {
  padding-left: 260px;
}

.pl-265 {
  padding-left: 265px;
}

.pl-270 {
  padding-left: 270px;
}

.pl-275 {
  padding-left: 275px;
}

.pl-280 {
  padding-left: 280px;
}

.pl-285 {
  padding-left: 285px;
}

.pl-290 {
  padding-left: 290px;
}

.pl-295 {
  padding-left: 295px;
}

.pl-300 {
  padding-left: 300px;
}

.pl-305 {
  padding-left: 305px;
}

.pl-310 {
  padding-left: 310px;
}

.pl-315 {
  padding-left: 315px;
}

.pl-320 {
  padding-left: 320px;
}

.pl-325 {
  padding-left: 325px;
}

.pl-330 {
  padding-left: 330px;
}

.pl-335 {
  padding-left: 335px;
}

.pl-340 {
  padding-left: 340px;
}

.pl-345 {
  padding-left: 345px;
}

.pl-350 {
  padding-left: 350px;
}

.pl-355 {
  padding-left: 355px;
}

.pl-360 {
  padding-left: 360px;
}

.pl-365 {
  padding-left: 365px;
}

.pl-370 {
  padding-left: 370px;
}

.pl-375 {
  padding-left: 375px;
}

.pl-380 {
  padding-left: 380px;
}

.pl-385 {
  padding-left: 385px;
}

.pl-390 {
  padding-left: 390px;
}

.pl-395 {
  padding-left: 395px;
}

.pl-400 {
  padding-left: 400px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-105 {
  padding-right: 105px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-115 {
  padding-right: 115px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-125 {
  padding-right: 125px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-135 {
  padding-right: 135px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-145 {
  padding-right: 145px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-165 {
  padding-right: 165px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-175 {
  padding-right: 175px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-185 {
  padding-right: 185px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-195 {
  padding-right: 195px;
}

.pr-200 {
  padding-right: 200px;
}

.pr-205 {
  padding-right: 205px;
}

.pr-210 {
  padding-right: 210px;
}

.pr-215 {
  padding-right: 215px;
}

.pr-220 {
  padding-right: 220px;
}

.pr-225 {
  padding-right: 225px;
}

.pr-230 {
  padding-right: 230px;
}

.pr-235 {
  padding-right: 235px;
}

.pr-240 {
  padding-right: 240px;
}

.pr-245 {
  padding-right: 245px;
}

.pr-250 {
  padding-right: 250px;
}

.pr-255 {
  padding-right: 255px;
}

.pr-260 {
  padding-right: 260px;
}

.pr-265 {
  padding-right: 265px;
}

.pr-270 {
  padding-right: 270px;
}

.pr-275 {
  padding-right: 275px;
}

.pr-280 {
  padding-right: 280px;
}

.pr-285 {
  padding-right: 285px;
}

.pr-290 {
  padding-right: 290px;
}

.pr-295 {
  padding-right: 295px;
}

.pr-300 {
  padding-right: 300px;
}

.pr-305 {
  padding-right: 305px;
}

.pr-310 {
  padding-right: 310px;
}

.pr-315 {
  padding-right: 315px;
}

.pr-320 {
  padding-right: 320px;
}

.pr-325 {
  padding-right: 325px;
}

.pr-330 {
  padding-right: 330px;
}

.pr-335 {
  padding-right: 335px;
}

.pr-340 {
  padding-right: 340px;
}

.pr-345 {
  padding-right: 345px;
}

.pr-350 {
  padding-right: 350px;
}

.pr-355 {
  padding-right: 355px;
}

.pr-360 {
  padding-right: 360px;
}

.pr-365 {
  padding-right: 365px;
}

.pr-370 {
  padding-right: 370px;
}

.pr-375 {
  padding-right: 375px;
}

.pr-380 {
  padding-right: 380px;
}

.pr-385 {
  padding-right: 385px;
}

.pr-390 {
  padding-right: 390px;
}

.pr-395 {
  padding-right: 395px;
}

.pr-400 {
  padding-right: 400px;
}

.dark #preloader {
  background-color: #232323;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #FF3E41;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.scrollUp {
  color: #ffffff;
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background-color: #FF3E41;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  position: fixed;
  right: 50px;
  z-index: 1111;
  bottom: 50px;
}

.scrollUp i {
  color: #ffffff;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.fw-normal {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 20px;
}

.fs-14 {
  font-size: 20px;
}

.fs-12 {
  font-size: 20px;
}

/*--
	-theme-btn
----------------------------------------*/
.theme_btn {
  overflow: hidden;
  border: 1px solid #333333;
  border-radius: 40px;
  background-color: transparent;
  color: #333333;
  font-size: 14px;
  line-height: 1;
  padding: 12px 41px 12px 41px;
  display: inline-block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.theme_btn::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.theme_btn:hover {
  color: #ffffff;
}

.theme_btn:hover::before {
  width: 100%;
  background-color: #333333;
}

.theme_btn.style-1 {
  color: #ffffff;
  padding: 12px 45px;
  border-color: #ffffff;
}

.theme_btn.style-1:hover {
  color: #333333;
}

.theme_btn.style-1:hover::before {
  background-color: #ffffff;
}

.theme_btn.style-2 {
  padding: 12px 45px;
}

.que_btn {
  border-radius: 29.5px;
  padding: 12px 20px;
}

.que_btn:hover img {
  filter: brightness(1) invert(1);
}

.que_btn:hover::before {
  width: 100%;
  background-color: #333333;
}

.sub_btn {
  border: 0;
  padding: 0;
  background: transparent;
  position: absolute;
  right: 17px;
  top: 46%;
  transform: translateY(-53%);
}

.shop-now a {
  color: #333333;
  font-size: 10px;
  font-family: "GT America Trial Exp Md";
  display: block;
}

.shop-now a:hover {
  color: #000;
}

.widget .widget-title {
  color: #ffffff;
  font-size: 14px;
}

.widget .widget-text {
  color: #ffffff;
  font-weight: 200;
  line-height: 1.4;
}

.widget-list .list-item li a {
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
}

input {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  height: 39px;
  width: 100%;
  color: #ffffff !important;
  font-size: 14px;
  padding-left: 18px;
}

.widget-form .form-one {
  position: relative;
  z-index: 1;
}

.widget-form .form-one input {
  color: #ffffff;
  font-family: "Ellograph CF Extra";
}

.widget-form .form-one input::placeholder {
  color: #ffffff;
}

.widget-form .form-one input::-moz-placeholder {
  color: #ffffff;
}

.widget-form .form-one input::-o-placeholder {
  color: #ffffff;
}

.contact-form {
  max-width: 889.33px;
  background: #fbf9f6;
  box-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.1);
  padding: 60px 45px 50px 45px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .contact-form {
    padding: 60px 15px 50px 15px;
  }
}

.contact-form .close-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
}

.form-two label {
  color: #333333;
  font-size: 12px;
  font-family: "GT America";
  width: 15%;
}

@media (max-width: 767px) {
  .form-two label {
    width: 100%;
    line-height: 44px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .form-two label {
    width: 22%;
    line-height: 44px;
  }
}

.form-two input {
  color: #ADADAD !important;
  font-size: 14px;
  text-align: center;
  border: 0 !important;
  width: 90%;
  padding-left: 0;
}

@media (max-width: 767px) {
  .form-two input {
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .form-two input {
    width: 78%;
    text-align: center;
  }
}

.form-two .form-group {
  border: 1px solid #333333;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding: 5px 0 7px 0;
  display: flex;
}

@media (max-width: 767px) {
  .form-two .form-group {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .form-two .form-group {
    display: flex;
  }
}

.form-title {
  color: #333333;
  font-size: 12px;
  font-family: "GT America";
  text-align: center;
  border-bottom: 1px solid #333333;
  padding-bottom: 35px;
}

.sect-title {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  font-family: "GT America";
}

.main-header {
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
}

.header-top-bg {
  background-color: #333333;
  height: 20px;
  width: 100%;
}

.logo-text {
  color: #333333;
  font-size: 29px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .logo-text {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .logo-text {
    margin-bottom: 0;
  }
}

.header-btn-group .que_btn {
  margin-left: 5px;
}

.footer-logo {
  border: 1px solid #ffffff;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  height: 77px;
  width: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  width: 50px;
  padding-top: 7px;
  position: absolute;
  left: -38%;
  z-index: 1;
  animation: floating-y infinite 5s alternate-reverse;
}

@media (max-width: 1400px) {
  .footer-logo {
    display: inline-block;
    border-radius: 40px;
    height: 40px;
    width: 31%;
    position: relative;
    left: 0;
    animation: unset;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer-logo span {
    display: inline !important;
  }
}

.fancy-social a {
  display: inline-block;
  margin-right: 13px;
  transition: all 0.3s ease 0s;
}

.fancy-social a:hover {
  transform: scale(1.1);
}

@keyframes floating-y {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.item-wrapper {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .item-wrapper img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.item-wrapper .brand-tag {
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  writing-mode: vertical-lr;
  display: inline-block;
  left: 29px;
  bottom: 18px;
  z-index: 1;
}

@media (max-width: 767px) {
  .item-wrapper .brand-tag {
    left: 30px;
    bottom: 60px;
  }
}

.item-wrapper .brand-tag-1 {
  left: 30%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .item-wrapper .brand-tag-1 {
    left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item-wrapper .brand-tag-1 {
    left: 30px;
  }
}

@media (max-width: 767px) {
  .item-wrapper .brand-tag-1 {
    left: 30px;
  }
}

.wallet-content-area {
  background: #fbf9f6;
  box-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.1);
  max-width: 412px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.wallet-content-area .close-btn {
  border: 0;
  background: transparent;
  position: absolute;
  right: 31px;
  top: 31px;
  z-index: 1;
}

.modals-header .modals-title {
  font-size: 12px;
}

.modals-header p {
  font-family: "GT America Trial Exp Md";
}

.wallet-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-box p {
  font-family: "GT America Trial Exp Md";
  margin-left: 10px;
}

.center-btn {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.item-wrapper:hover img {
  filter: grayscale(0.7);
}

.category-link-text p {
  font-size: 48px;
  font-family: "Messapia";
}

@media (min-width: 992px) and (max-width: 1200px) {
  .category-link-text p {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-link-text p {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .category-link-text p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .category-link-text p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.category-link-text p img {
  transform: translateY(-11px);
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .category-link-text p img {
    width: 100%;
    margin: 25px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .category-link-text p img {
    width: unset;
    margin: 25px 0;
  }
}

.category-link-text .styled-text {
  font-family: "Ogg";
  position: relative;
  z-index: 1;
}

.category-link-text .styled-text::before {
  content: '';
  position: absolute;
  background: url(../img/line-1.svg) no-repeat;
  width: 172px;
  height: 6px;
  left: -20px;
  top: 87%;
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-link-text .styled-text::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .category-link-text .styled-text::before {
    display: none;
  }
}

.category-link-text .shape-2 {
  padding-right: 18px;
}

.category-link-text .shape-2::before {
  background: url(../img/round-1.svg) no-repeat !important;
  height: 99px;
  width: 163px;
  left: -32px;
  top: -26px;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .category-link-text .shape-2::before {
    left: -62px;
  }
}

.category-link-text .shape-3::before {
  background: url(../img/line-2.svg) no-repeat !important;
  height: 7px;
  width: 172px;
  top: 81%;
  left: -15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-filter-area {
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .category-filter-area {
    padding-bottom: 100px;
  }
}

.filter-wrapper {
  width: 100%;
  border: 1px solid #333333;
  height: 39px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.filter-wrapper .form-one {
  position: relative;
  z-index: 1;
  width: 100%;
}

.filter-wrapper .form-one input {
  width: 100%;
  border: 0;
  border-right: 1px solid #333333;
  border-radius: 0;
  padding-left: 49px;
  background-color: transparent;
}

.filter-wrapper .form-one .sub_btn {
  position: absolute;
  left: 17px;
  top: 5;
  z-index: 1;
}

.select-item {
  position: relative;
  z-index: 1;
}

.select-item select {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 117px;
  text-align: center;
  line-height: 33px;
  appearance: none;
  position: relative;
  z-index: 4;
}

.select-item select:focus-visible {
  outline: none;
}

.select-item .down-icon {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.filter-item .item-title,
.filter-item .item-text {
  color: #333333;
  font-size: 12px;
  font-family: "GT America";
  font-weight: 400;
  line-height: 1.1;
  display: block;
  margin-bottom: 3px;
}

.category-details-area {
  max-width: 950.34px;
  background: #fbf9f6;
  box-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  padding: 60px 45px 50px 45px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .category-details-area {
    padding: 60px 15px 50px 15px;
  }
}

.category-details-area .close-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
}

@media (max-width: 767px) {
  .category-details-area .close-btn {
    top: 15px;
  }
}

.category-item-details h3 {
  font-size: 30px;
  font-family: "GT America";
}

.category-item-details h6 {
  font-size: 14px;
  font-family: "GT America";
}

.category-item-details .select-item {
  display: inline-block;
}

.category-item-details .select-item select {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 40px;
  padding: 0;
  width: 120px;
  height: 39px;
  padding-left: 15px;
}

.category-item-details p {
  font-family: "GT America";
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background: #ADADAD;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.active {
  background-color: #333333;
}

.thank-area {
  padding-top: 127px;
  padding-bottom: 460px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .thank-area {
    padding-bottom: 130px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thank-area {
    padding-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .thank-area {
    padding-bottom: 130px;
  }
}
/*# sourceMappingURL=main.css.map */